DATABASE_URL="postgresql://postgres:troque-sua-senha@db.seu-projeto.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:troque-sua-senha@db.seu-projeto.supabase.co:5432/postgres"
PORT=4000
JWT_SECRET="troque-esta-chave-em-producao"
NODE_ENV="development"
FRONTEND_URLS="http://localhost:3000,https://seu-frontend.onrender.com"
COOKIE_SECURE="false"
COOKIE_SAME_SITE="lax"
COOKIE_DOMAIN=""
